<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6" style="margin-top: 25px">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">SignIn</h3>
        </div>
        <div class="panel-body">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="">User</label>
            <input type="text" class="form-control" data-ng-model="vm.User.user">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="">Password</label>
            <input type="password" class="form-control" data-on-enter-press="vm.SignIn()" data-ng-model="vm.User.password">
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <hr>
            <button type="button" class="btn btn-default btn-block" data-ng-click="vm.SignIn()">Sign In!</button>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-right">
            <p style="margin-top: 15px;">Your not have account? <strong><a href="javascript:void(0)" ui-sref="signup">Sign Up!</a></strong></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>